@using Microsoft.AspNetCore.Identity
@using SampleLogin.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/Home.css">
</head>

<body class="container-fluid bg-danger">
    <div class="wel">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="align-self-center col-sm-6">
                <h1 class="display-1 text-black fw-bold welc color-black" style="text-align: left;">
                    <i class="fa-brands fa-space-awesome"></i> Winner is always
                </h1>
                <h1 class="display-1 text-black fw-bold welco" style="text-align: left;">
                    <i class="fa-brands fa-space-awesome"></i> HUNGRIER!!!
                </h1>
                <h2 class="welText" data-aos="fade-right" data-aos-eseing="ese-in-out" data-aos-delay="500">
                    Hungry but busy?
                </h2>
                <h2 class="welText" data-aos="fade-right" data-aos-eseing="ese-in-out" data-aos-delay="500">
                    Let's order your food through <b class="color__red">HiwKao</b>
                </h2>

                <a  asp-controller="Customer" asp-action="Index"><button class="button">buy food</button></a>
                <a  asp-controller="Rider" asp-action="Index"><button class="button">become a rider</button></a>
            </div>
            <div class="flex__center col-sm-5">
                <img src="https://cdn.discordapp.com/attachments/875778949970546789/1100731548979957781/IMG_0087.png" class="homePic" alt="HiwKao">
            </div>
            
        </div>
    </div>
</body>

</html>