html {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("https://i.pinimg.com/564x/0f/02/4a/0f024adf359d7b313e9e8c2472a0109c.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
    background-repeat: no-repeat;
}

.loginBtn {
    background: green;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 20px;
    width: 10%;
}

    .loginBtn:hover {
        background: rgb(0, 0, 0);
        color: rgb(50, 199, 70);
    }

.hiwBtn {
    background: black;
    color: aliceblue;
    border-radius: 30px;
    ;
    width: 300px;
    height: 50px;
}

    .hiwBtn:hover {
        background: black;
        color: aliceblue;
        border-radius: 30px;
        ;
        width: 300px;
        height: 50px;
        transform: scale(1.1);
    }

.welc {
    color: black;
}

.welco {
    color: rgb(34, 121, 46);
}

.welText {
    width: 100%;
}

.homePic {
    width: 100%;
}

img.homePic {
    -webkit-animation: mover 7s infinite alternate;
    animation: mover 7s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3vh);
    }
}

.button {
    background: #000000;
    color: #fff;
    font-size: 25px;
    padding: 1rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 30px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    border-color: transparent;
    width: fit-content;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

    .button:hover {
        box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translate(0px, -10px) scale(1.1);
        transform: translate(0px, -10px) scale(1.1);
        color: rgb(34, 121, 46);
    }

.welTexts {
    color: white;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.color__red {
    color: rgb(255, 157, 30);
}

.textWel {
    margin-left: 6.5rem;
}


@media (max-width: 1023px) {
    body {
        height: 120%;
        width: 120%;
        background-image: url("https://i.pinimg.com/564x/0f/02/4a/0f024adf359d7b313e9e8c2472a0109c.jpg");
        background-size: cover;
        backdrop-filter: blur(70px);
        background-repeat: no-repeat;
    }

    .wel {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 10%;
    }

    .row {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex: row;
    }

    .textWel {
        margin-left: 0;
    }

    .rel {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .button {
        background: #000000;
        color: #fff;
        font-size: 1em;
        padding: 1rem 1.5rem;
        margin-right: 0.5rem;
        border-radius: 30px;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        -webkit-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms;
        border-color: transparent;
        width: fit-content;
        transform: scale(0.9);
    }

    .flex__center img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 300px;
        height: 300px;
    }

    .flex__center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
    }

    .welc {
        font-size: 0.6em;
    }

    .welco {
        font-size: 0.8em;
    }
}

@media ( min-width: 1023px) and (max-width: 1279px) {
    body {
        height: 120%;
        width: 120%;
        background-image: url("https://i.pinimg.com/564x/0f/02/4a/0f024adf359d7b313e9e8c2472a0109c.jpg");
        background-size: cover;
        backdrop-filter: blur(70px);
        background-repeat: no-repeat;
    }

    .wel {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 5%;
    }

    .row {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex: row;
    }

    .textWel {
        margin-left: 0;
    }

    .rel {
        display: flex;
        justify-content: center;
    }

    .button {
        background: #000000;
        color: #fff;
        font-size: 1em;
        padding: 1rem 1.5rem;
        margin-right: 0.5rem;
        border-radius: 30px;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        -webkit-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms;
        border-color: transparent;
        width: fit-content;
        transform: scale(0.9);
    }

    .flex__center img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 300px;
        height: 300px;
    }

    .flex__center {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 60%;
    }

    .welc {
        font-size: 0.5em;
    }

    .welco {
        font-size: 0.7em;
    }
}
