@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<style>
    body {
        background-image: url("https://media.discordapp.net/attachments/1035127653205811261/1101187166232641737/IMG_0120.jpg?width=260&height=325");
        background-size: cover;
        backdrop-filter: blur(100px);
        background-repeat: repeat;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'poppins',sans-serif;
    }

    .form-box {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: transparent;
        backdrop-filter: blur(70px);
        display: flex;
        margin-left: 30%;
        margin-top: 5%;
    }

    .form-value { /* Fallback color */
        background-color: rgba(198, 198, 198, 0.15);
        height: 70%;
        width: 35%;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    button {
        padding: 1rem 2rem;
        background-color: #000;
        color: #fff;
        border-radius: 20px;
        width: fit-content;
    }
</style>
<body>
    <div class="form-box">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="form-value row d-flex justify-content-center align-content-center">
            <div class="col-md-6">
                <h3 class='text-center'>@ViewData["Title"]</h3>
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="" />
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class='button'><button type="submit" class="">Update password</button></div>
                </form>
            </div>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </div>
</body>