@model IEnumerable<SampleLogin.Models.Store>
@using Microsoft.AspNetCore.Identity
@using SampleLogin.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

}
<link rel="stylesheet" type="text/css" href="~/css/Import.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<style>

    body {
        background-image: url("https://cdn.discordapp.com/attachments/874217207360520203/1101484503895126146/IMG_0120.jpg");
        background-size: cover;
        backdrop-filter: blur(150px);
        background-repeat: repeat;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .card {
        padding: 3rem 0.5rem;
        margin-bottom: 3%;
        margin-left: 8%;
        width: 16%;
        background-color: rgba(35, 43, 43, 0.15);
        background-size: 0px;
        border-radius: 40px;
        border: none;
        box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
    }

        .card .center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    h1 {
        text-align: right;
        margin: 0 5% 3% 0;
    }

    h4 {
        text-align: center;
    }

    .card .center img {
        border-radius: 20px;
        width: 80%;
        height: 60%;
    }

    .card:hover {
        box-shadow: 0px 0px 20px rgba(192,192,192, 0.5);
    }

    .button {
        display: flex;
        transform: scale(1.5);
        flex-direction: row;
        align-items: center;
        background-color: green;
        color: white;
        border-radius: 20px;
        padding: 0.35rem 2.5rem;
        text-decoration: none;
    }

        .button i {
            margin: 0.1rem;
        }

        .button:hover {
            transform: scale(1.3);
            background-color: black;
            color: white;
            box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
        }

    .row .widtho {
        width: 5%;
        background: black;
        opacity: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-right: 7%;
        border-radius: 10px;
    }

        .row .widtho .nav .nav-item {
            width: 10%;
            height: 10%;
        }

    @@media (max-width: 1023px;) {
        body {
            background-image: url("https://i.pinimg.com/564x/0f/02/4a/0f024adf359d7b313e9e8c2472a0109c.jpg");
            background-size: contain;
            backdrop-filter: blur(70px);
        }

        .main {
            display: flex;
            flex-direction: column;
        }

        .card {
            width: 80%;
        }
    }
</style>
<body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <div class="row">
        <div class="col-md-3 widtho">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index"><ion-icon size="large" name="bag-check-outline"></ion-icon></a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Order"><ion-icon size="large" name="bag-check-outline"></ion-icon></a></li>
                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Status"><ion-icon size="large" name="bag-handle-outline"></ion-icon></a></li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><ion-icon size="large" name="fast-food-outline"></ion-icon></a>
                </li>

                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0"><ion-icon size="large" name="fast-food-outline"></ion-icon></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1> Choose Store</h1>
            <div class="main">
                @foreach (var store in Model)
                {
                    <div class="card">

                        <div class="center">
                            <img src="https://s359.thaibuffer.com/rq/580/435/50/pagebuilder/dbc77e85-1cb6-44ff-a3d8-dc6b21f59d5a.jpg">
                            <br>
                            <h4>ร้าน : @store.name</h4>
                            <br>
                            <a asp-controller="Order" asp-action="Create" asp-route-StoreName="@store.name" class="button" asp-action="Create" asp-route-StoreName="@store.name"><i class="bi bi-cart4"></i>Shop</a>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>

</body>