@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="index.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'poppins',sans-serif;
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
            background-color: black;
            background: url("https://cdn.discordapp.com/attachments/1100176710722392094/1100854598043975690/IMG_0098.JPG")no-repeat;
            background-position: center;
            background-size: cover;
        }

        .form-box {
            position: relative;
            width: 100vw;
            height: 100vh;
            background: transparent;
            backdrop-filter: blur(70px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-size: 2em;
            color: #fff;
            text-align: center;
        }

        .inputbox {
            position: relative;
            margin: 5% 0;
            width: 50vw;
            border-bottom: 2px solid #fff;
        }

            .inputbox label {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                color: #fff;
                font-size: 1em;
                pointer-events: none;
                transition: .5s;
            }

        input:focus ~ label,
        input:valid ~ label {
            top: -5px;
        }

        .inputbox input {
            width: 100%;
            height: 50px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            padding: 0 35px 0 5px;
            color: #fff;
        }

        .inputbox ion-icon {
            position: absolute;
            right: 8px;
            color: #fff;
            font-size: 1.2em;
            top: 20px;
        }

        .forget {
            margin: -15px 0 15px;
            font-size: .9em;
            color: #fff;
            display: flex;
            justify-content: space-between;
        }

            .forget label input {
                margin-right: 3px;
            }

            .forget label a {
                color: #fff;
                text-decoration: none;
            }

                .forget label a:hover {
                    text-decoration: underline;
                }

        button {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
        }

        .register {
            padding: 1vh;
        }

        .reg {
            padding-bottom: 0.5vh;
            font-size: .7em;
            color: #fff;
            text-align: center;
            font-weight: 300;
        }

            .reg:hover {
                text-decoration: underline;
            }
        /*
            #registerForm{
                width: 50vw;
            }
            */

    </style>
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">  
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <h1>Create a new account</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" required />
                        <label asp-for="Input.FirstName">FirstName</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="people-outline"></ion-icon>
                        <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" required />
                        <label asp-for="Input.LastName">LastName</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" required />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" required />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="checkmark-circle-outline"></ion-icon>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" required />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="call-outline"></ion-icon>
                        <input asp-for="Input.Phonenumber" class="form-control" autocomplete="phonenumber" aria-required="true" required />
                        <label asp-for="Input.Phonenumber">Phone number</label>
                        <span asp-validation-for="Input.Phonenumber" class="text-danger"></span>
                    </div>
                    <input type="file"
                        accept=".png,.jpg,.jpeg,.gif,.tif"
                        asp-for="Input.ProfilePicture"
                        class="form-control"
                        style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                        onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" 
                        required />
                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>         
        </div>    
    </section>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 